.infoContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 0px solid #ccc;
  margin: 40px 0;
  width: 720px;
}

.infoImage {
  width: 75%;
  align-self: center;
}

.infoCalories {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
