.header {
  background-color: rgba(28, 28, 33, 1);
}

.container {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  margin: auto;
  height: 88px;
  border: 0px solid #ccc;
}

.logo {
  width: 30%;
  text-align: left;
  padding-left: 70px;
}
